@import "../../vars/style.scss";

@mixin hFontSize {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}


.header__container {
    max-width: 1920px;
    width: 100%;
    @include fontFam;

    .header__content {
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: space-between;


        .header__logo {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .nav {
            width: 45vw;
            display: flex;
            justify-content: space-between;

            .nav__user {
                padding-top: 32px;
                padding-bottom: 32px;
                display: inline-flex;

                .nav__option {
                    text-decoration: none;
                    @include hFontSize;
                    font-weight: 700;
                    color: #565656;
                }

                .nav__option:hover {
                    border-top: 3px solid $blue;
                    padding-top: 27px;
                }

                .nav__option:active {
                    border-top: 3px solid $blue;
                    padding-top: 27px;
                }

                .nav__webdev {
                    margin-right: 10%;
                }

                .nav__ad {
                    margin-left: 10%;
                }
            }

            .nav__entrylang {
                display: flex;
                flex-grow: 1;
                justify-content: flex-end;

                .nav__entry {
                    padding-top: 32px;
                    padding-bottom: 32px;
                    margin-left: 4%;
                    margin-right: 4%;

                    .nav__option {
                        text-decoration: none;
                        @include hFontSize;
                        font-weight: 800;
                        color: #55B570;
                    }

                    .nav__option:hover {
                        border-top: 3px solid $blue;
                        padding-top: 27px;
                    }

                    .nav__option:hover {
                        border-top: 3px solid $blue;
                        padding-top: 27px;
                    }

                    .nav__option:active {
                        border-top: 3px solid $blue;
                        padding-top: 27px;
                    }

                    .nav__option:active {
                        border-top: 3px solid $blue;
                        padding-top: 27px;
                    }
                }

                .nav__languages {
                    margin-top: 27px;
                    margin-bottom: 30px;
                    background: #F9F9F9;
                    border: 1px solid #EBEBEB;
                    border-radius: 14px;
                    box-sizing: border-box;
                    margin-right: 5%;

                    label {
                        display: inline-block;
                        width: 35px;
                        height: 28px;
                        border-radius: 14px;
                        transition: all 0.2s;
                        font-weight: 700;
                        font-size: 11px;
                        line-height: 13px;
                        text-align: center;
                        padding-top: 7px;
                    }

                    input[type="radio"] {
                        display: none;
                    }

                    input[type="radio"]:checked+label {
                        background: $blue;
                        border-radius: 14px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1139px) {
    .header__container {
        max-width: 1920px;
        width: 100%;

        .header__content {
            width: 96%;

            .nav {
                width: 70vw;

                .nav__user {
                    display: flex;
                    flex-grow: 1;
                    justify-content: space-around;
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .header__container {
        max-width: 1920px;
        width: 100%;

        .header__content {
            margin: auto;
            width: 90%;
            height: 125px;
            display: flex;
            justify-content: space-between;

            .header__logo {
                position: absolute;
                width: 78px;
                height: 36px;
                left: 16px;
                top: 26px;
            }

            .nav {
                width: 100%;
                justify-content: flex-start;
                flex-direction: column-reverse;

                .nav__user {
                    display: flex;
                    text-align: center;
                    padding-bottom: 8px;
                    padding-top: 0px;

                    .nav__option {
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        text-transform: uppercase;
                    }

                    .nav__option:hover {
                        display: none;
                    }

                    .nav__option:active {
                        display: none;
                    }

                    .nav__webdev {
                        padding-top: 10px;
                        margin-right: 1%;
                        margin-left: 1%;
                        width: calc(90vw/2);
                        border-top: 1px solid transparent;
                        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
                    }

                    .nav__ad {
                        padding-top: 10px;
                        margin-left: 1%;
                        margin-right: 6%;
                        border-top: 1px solid transparent;
                        width: calc(90vw/2);
                        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
                    }

                    .nav__webdev:hover {
                        transform: scale(1.1);
                        border-top-color: $blue;
                    }

                    .nav__ad:hover {
                        transform: scale(1.1);
                        border-top-color: $blue;
                    }

                    .nav__webdev:active {
                        transform: scale(1.1);
                        border-top-color: $blue;
                    }

                    .nav__ad:active {
                        transform: scale(1.1);
                        border-top-color: $blue;
                    }
                }

                .nav__entrylang {
                    width: 100%;
                    flex-grow: 0;
                    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);

                    .nav__entry {
                        margin-right: 1%;
                        padding-top: 22px;
                        padding-bottom: 10px;

                        .registration {
                            display: none;
                        }

                        .nav__option:hover {
                            border-top: 2px solid $blue;
                        }

                        .nav__option:active {
                            border-top: 2px solid $blue;
                        }
                    }

                    .nav__languages {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        height: 32px;
                        margin: 18px;
                        margin-left: 5px;
                        margin-right: 5px;

                        label {
                            height: 29px;
                        }
                    }
                }
            }
        }
    }
}