@import "../styleHeader/styleHeaderPageAdvertisers/style.scss";
@import "../styleFooter/style.scss";
@import"../vars/style.scss";
@import "../fonts/font/stylesheet.css";
@import "../normalize/normalize.css";

@mixin content {
    margin: auto;
    width: 80%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    width: 100;
    @include fontFam;

    .aboutus {
        background-image: url(../../images/imgPageAdvertisers/img/Slice3.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 966px;

        .aboutus__content {
            @include content;

            .aboutus__title {
                padding-top: 200px;
                padding-bottom: 100px;

                .aboutus__name {
                    font-weight: 900;
                    font-size: 60px;
                    line-height: 75px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }

                .aboutus__moto {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            .aboutus__statistics {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                height: 150px;

                .stats {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-top: 3%;
                    padding-bottom: 3%;
                    padding-left: 1vw;
                    padding-right: 1vw;
                    border-right: 2px solid rgba(255, 255, 255, 0.25);

                    .statistics__number {
                        font-weight: 800;
                        font-size: 40px;
                        line-height: 49px;
                        color: #FFFFFF;
                    }

                    .statistics__name {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FFFFFF;
                    }
                }

                .statistics__conversions {
                    border: none;
                }
            }

            .aboutus__users {
                display: flex;
                height: 300px;
                background-color: white;
                box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
                border-radius: 8px;

                .users__webmasters {
                    border-right: 2px solid #F3F3F3;
                }

                .users__webmasters,
                .users__advertisers {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    padding-left: 4vw;
                    padding-right: 4vw;
                    text-align: center;

                    .webmasters__who,
                    .advertisers__who {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        height: 72px;
                    }

                    .user__img {
                        padding-left: 6%;
                    }

                    .webmasters__btn {
                        @include btnBigBlue;
                        color: #FFFFFF;
                    }

                    .shadow-btn:hover {
                        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
                    }

                    .advertisers__btn {
                        @include btnBigGreen;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}


@media screen and (min-width:768px) and (max-width:1139px) {
    .container {
        .aboutus {
            .aboutus__content {
                .aboutus__title {
                    padding-top: 80px;
                    padding-bottom: 65px;
                }

                .stats {
                    text-align: center;

                    .statistics__conversions {
                        border: none;
                    }
                }

                .aboutus__users {
                    flex-direction: column;
                    height: 400px;
                    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
                    border-radius: 8px;

                    .users__webmasters {
                        border-bottom: 1px solid #F3F3F3;
                    }

                    .users__webmasters,
                    .users__advertisers {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .container {
        .aboutus {
            height: fit-content;

            .aboutus__content {
                width: 90%;

                .aboutus__title {
                    padding-top: 50px;
                    padding-bottom: 30px;

                    .aboutus__name {
                        padding-bottom: 10px;
                        font-size: 32px;
                        line-height: 40px;
                    }

                    .aboutus__moto {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }

                .aboutus__statistics {
                    display: grid;
                    grid-template-areas: "stats stats" "stats stats";
                    grid-template-columns: repeat(2, calc(100% / 2));
                    grid-template-rows: "repeat(2, minmax(0, 1fr))";
                    height: 180px;
                    margin-top: 32px;

                    .stats {
                        padding-top: 5%;
                        padding-bottom: 10%;
                        border-bottom: 2px solid rgba(255, 255, 255, 0.25);

                        .statistics__number {
                            font-size: 25px;
                            line-height: 34px;
                        }

                        .statistics__name {
                            padding-right: 16px;
                            padding-left: 16px;
                            font-size: 13px;
                            line-height: 15px;
                            text-align: center;
                        }
                    }

                    .statistics__advertisers {
                        border-right: none;
                    }

                    .statistics__years {
                        border-bottom: none;
                    }
                }

                .aboutus__users {
                    flex-direction: column;
                    height: fit-content;

                    .users__webmasters {
                        border-bottom: 1px solid #F3F3F3;
                    }

                    .users__webmasters,
                    .users__advertisers {
                        padding-top: 4%;
                        padding-bottom: 20px;

                        .webmasters__who,
                        .advertisers__who {
                            font-size: 13px;
                            line-height: 20px;
                            text-align: center;
                            height: fit-content;
                            padding: 2%;
                        }

                        .webmasters__btn {
                            @include btnSmallBlue;
                            margin-top: 5%;
                        }

                        .advertisers__btn {
                            @include btnSmallGreen;
                            margin-top: 5%;
                        }
                    }
                }
            }
        }
    }
}

.advantages {
    @include content;
    @include fontFam;

    .advantages__title {
        @include hUpper-desktop;
        margin: 7% auto 7%;

    }

    .advantages__pluses {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;

        .advantages__ad {
            flex-basis: calc(100% / 3);
        }

        .advantages__growth {
            flex-basis: calc(100% / 3);
        }

        .advantages__offices {
            flex-basis: calc(100% / 3);
        }

        .advantages__own {
            width: calc(100% / 3);
            margin-left: auto;
            display: flex;
            flex-direction: column;
        }

        .advantages__apps {
            width: calc(100% / 3);
            margin-right: auto;
            display: flex;
            flex-direction: column;
        }

        .plus {
            height: fit-content;
            text-align: center;
            margin-top: 5%;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;

            .advantages__text {
                padding: 30px;
            }
        }
    }

    .advantages__registration {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;

        .advantages__btn {
            @include btnWhiteBorder;
            width: 350px;
            height: 80px;
            color: $blue;
            margin-top: 30px;
        }

        .advantages__btn:hover {
            transform: scale(1.3);
        }
    }
}

@media screen and (min-width:768px) and (max-width:1139px) {
    .advantages {
        .advantages__title {
            padding-top: 67px;
            margin-top: 0;
        }

        .advantages__pluses {
            .advantages__own {
                flex-basis: calc(100% / 2);
            }

            .advantages__ad {
                flex-basis: calc(100% / 2);
            }

            .advantages__growth {
                flex-basis: calc(100% / 2);
            }

            .advantages__offices {
                flex-basis: calc(100% / 2);
            }

            .advantages__apps {
                width: calc(100% / 2);
                margin: auto;
            }
        }
    }
}


@media screen and (max-width:767px) {
    .advantages {
        .advantages__title {
            @include hUpper-mobile;
            margin-bottom: 5%;
        }

        .advantages__pluses {
            .advantages__own {
                flex-basis: calc(100% / 2);
            }

            .advantages__ad {
                flex-basis: calc(100% / 2);
            }

            .advantages__growth {
                flex-basis: calc(100% / 2);
            }

            .advantages__offices {
                flex-basis: calc(100% / 2);
            }

            .advantages__apps {
                width: calc(100% / 2);
                margin: auto;
            }

            .plus {
                font-size: 13px;
                line-height: 15px;

                .advantages__text {
                    margin-left: 5px;
                    margin-right: 5px;
                    word-break: break-word;
                    padding: 15px;
                }
            }
        }

        .advantages__registration {
            height: fit-content;

            .advantages__btn {
                @include btnWhiteBorderXS;
                width: 288px;
                height: 60px;
                margin-top: 5%;
                margin-bottom: 5%;
            }

            .advantages__btn:hover {
                .advantages {
                    margin: auto;
                    width: 90%;

                    .advantages__title {
                        @include hUpper-mobile;
                        margin-bottom: 5%;
                    }

                    .advantages__pluses {

                        .advantages__own {
                            flex-basis: calc(100% / 2);
                        }

                        .advantages__ad {
                            flex-basis: calc(100% / 2);
                        }

                        .advantages__growth {
                            flex-basis: calc(100% / 2);
                        }

                        .advantages__offices {
                            flex-basis: calc(100% / 2);
                        }

                        .advantages__apps {
                            width: calc(100% / 2);
                            margin: auto;
                            display: flex;
                            flex-direction: column;
                        }

                        .plus {
                            font-size: 13px;
                            line-height: 15px;

                            .advantages__text {
                                margin-left: 5px;
                                margin-right: 5px;
                                word-break: break-word;
                            }
                        }
                    }

                    .advantages__registration {
                        height: fit-content;

                        .advantages__btn {
                            @include btnWhiteBorderXS;
                            width: 200px;
                            height: 60px;
                            margin: 5% auto 5%;
                        }

                        .advantages__btn:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

.second-line {
    padding: 0;
    margin: 0;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.third-line__wrapper {
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-line__title {
    @include fontFam;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);

    padding-bottom: 2.7vh;
}

.second-line__subtitle {
    @include fontFam;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.second-line__card img {
    max-width: 100%;
}

.second-line__card p {
    @include fontFam;
    font-weight: medium;
    color: rgba(255, 255, 255, 1);
    padding-top: 2vh;
}

.third-line__list img {
    max-width: 100%;
}

.third-line__title {
    @include fontFam;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);

    padding-bottom: 2.7vh;
}

.third-line__title_blue {
    color: rgba(46, 154, 219, 1);
}

.third-line__subtitle {
    @include fontFam;
    font-weight: 500;
    color: rgba(147, 147, 147, 1);
}

.third-line__list {
    margin: 12vh auto 6vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .second-line {
        background-image: url(../../images/imgPageWebmasters/img/bg_second_line.png);
        max-width: 100vw;
    }

    .second-line__wrapper {
        width: 45%;
        margin: 0 auto 6vh auto;
        padding-top: 15vh;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-line__title {
        @include hLower-desktop;
    }

    .second-line__subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .second-line__card {
        text-align: center;
        width: 26vw;
        padding: 2.7vh;
        font-size: 16px;
        line-height: 19px;
    }

    .second-line__content {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 14.2vh;
    }

    .third-line__wrapper {
        width: 50%;
    }

    .third-line__title {
        @include hLower-desktop;
    }

    .third-line__subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .third-line__list {
        width: 90%;
        justify-content: space-around;
        align-items: center;
    }

    .third-line__list img {
        margin-left: 1.4vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .third-line__list {
        width: 80%;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .second-line {
        background-image: url(../../images/imgPageWebmasters/img/mobile_bg_second_line.png);
        max-width: 100%;
    }

    .second-line__wrapper {
        width: 85%;
        margin: 0 auto 6vh auto;
        padding-top: 16vh;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-line__title {
        font-size: 20px;
        line-height: 25px;
    }

    .second-line__subtitle {
        font-size: 16px;
        line-height: 19px;
    }

    .second-line__content {
        margin: 0 auto;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 14.2vh;
    }

    .second-line__card {
        text-align: center;
        width: 100%;
        padding: 2.7vh;
        font-size: 13px;
        line-height: 16px;
    }

    .third-line__wrapper {
        width: 85%;
    }

    .third-line__title {
        font-size: 20px;
        line-height: 25px;
    }

    .third-line__subtitle {
        font-size: 13px;
        line-height: 15px;
    }

    .third-line__list {
        width: 85%;
        justify-content: space-around;
        align-items: center;
    }

    .third-line__list img {
        width: 35%;
        padding-bottom: 2vh;
    }

    .third-line__list img:nth-child(1) {
        order: 1;
    }

    .third-line__list img:nth-child(2) {
        order: 2;
    }

    .third-line__list img:nth-child(3) {
        order: 4;
    }

    .third-line__list img:nth-child(4) {
        order: 5;
    }

    .third-line__list img:nth-child(5) {
        order: 6;
    }

    .third-line__list img:nth-child(6) {
        order: 3;
    }

    .third-line__list img:nth-child(5),
    img:nth-child(6) {
        width: 15%;
    }
}


.trust {
    @include fontFam;
    margin: auto;

    &__title {
        @include hUpper-desktop
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 3%;
        column-gap: 3%;
        padding: 80px;
        justify-content: center;

        .img {
            max-width: 100%;
            margin: 0 auto;
        }
    }

    &__footer {
        @include pSmall-grey
    }
}

@media (max-width:768px) {

    .trust {
        &__title {
            @include hUpper-mobile;
            padding-top: 70px;
        }

        .gallery {
            padding: 30px;
            align-items: center;
        }

        &__footer {
            text-align: center;
            font-size: 13px;
            padding-top: 50px;
        }
    }
}

@media (max-width:575px) {
    .trust {
        &__footer {
            padding-top: 250px;
        }

        .gallery {
            
        .img {
                max-width: 70%;
            }
    }
}
}

.promotion {
    @include boxShadow;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promotion__title-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8vh 0 11.3vh 0;
}

.promotion__main-title {
    @include fontFam;
    @include hBold-blue;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.promotion__text {
    @include fontFam;
    font-weight: 500;
    color: rgba(147, 147, 147, 1);
    text-align: center;
}

.promotion__formats {
    width: 90%;
    padding-bottom: 8.3vh;

    @include borderDashed;
}

.promotion__formats-title,
.promotion__cases-title,
.benefits__title {
    @include fontFam;
    @include hUpper-fold-desktop;
    color: rgba(0, 0, 0, 1);

    padding-bottom: 4.1vh;
    text-align: center;
}

.promotion__formats-title {
    padding-top: 10vh;
}

.promotion__item {
    @include boxShadow;
}

.promotion__formats a {
    text-decoration: none;
}

.promotion__item p {
    @include fontFam;

    font-weight: 700;
    color: rgba(147, 147, 147, 1);
}

.promotion__cases {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.3vh 0;
    @include borderDashed;
}

.promotion__joom-case,
.promotion__loto-case,
.promotion__vpn-case,
.promotion__ultima-case {
    text-align: center;
    margin: 2rem auto;
}

.promotion__logo {
    margin: 2vh auto 8.3vh;
}

.promotion__logo p {
    @include fontFam;
    font-weight: 700;
    color: black;
    padding-top: 2vh;
}

.promotion__case-item h5 {
    @include fontFam;
    @include pSmall-grey;
    color: rgba(147, 147, 147, 1);
    padding-bottom: 2vh;
}

.promotion__case-item p:not(.promotion__case-item_blue) {
    @include fontFam;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.promotion__case-item_blue {
    @include fontFam;
    font-weight: 500;
    color: rgba(46, 154, 219, 1);
}

.promotion__benefits {
    width: 90%;
}

.benefits__title {
    padding: 8.3vh 0;
}

.benefits__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.benefits__item img {
    margin: 0;
    padding: 0;
}

.benefits__item p {
    @include fontFam;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);

    margin: 1.5vw;
    padding: 0;
}

.benefits__items {
    width: 90%;
    margin: 0 auto;
}

.promotion-btn {
    @include btnWhiteBorder;
    @include fontFam;
    font-weight: 900;
    line-height: 24px;
    color: rgba(46, 154, 219, 1);
    text-transform: uppercase;
    text-align: center;

    display: block;
    margin: 9vh auto;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .promotion {
        width: 80%;
    }

    .promotion__mobile-line {
        display: none;
    }

    .promotion__line {
        width: 80%;
    }

    .promotion__title-wrapper {
        width: 55%;
    }

    .promotion__main-title {
        font-size: 60px;
        line-height: 75px;
    }

    .promotion__text {
        font-size: 16px;
        line-height: 19px;
    }

    .promotion__formats-title,
    .promotion__cases-title,
    .benefits__title {
        font-size: 20px;
        line-height: 24px;
    }

    .promotion__formats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .promotion__item {
        width: 11.3vw;
        height: 24vh;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 4.1vh 1.2vw;
    }

    .promotion__item p {
        font-size: 16px;
        line-height: 19px;
        padding-top: 2.7vh;
    }

    .promotion__third-item p {
        padding-top: 4vh;
    }

    .promotion__eighth-item img {
        padding-left: 1.6rem;
    }

    .promotion__joom-case__items,
    .promotion__loto-case__items,
    .promotion__vpn-case__items,
    .promotion__ultima-case__items {
        @include boxShadow;
        height: 27.7vh;
        width: 64.4vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(235, 235, 235, 1);
    }

    .promotion__case-item:not(.promotion__case-item_third) {
        height: 27.7vh;
        width: 21.4vw;
        border-right: 1px solid rgba(235, 235, 235, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .promotion__case-item_third {
        width: 21.4vw;
        margin-bottom: 4vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .promotion__case-item_third_exeption {
        width: 21.4vw;
        margin-bottom: 0.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .promotion__logo p {
        font-size: 16px;
        line-height: 19px;
    }

    .promotion__case-item h5 {
        font-size: 16px;
        line-height: 19px;
    }

    .promotion__case-item p {
        font-size: 20px;
        line-height: 24px;
    }

    .promotion__case-item_blue {
        width: 80%;
    }

    .benefits__item p {
        font-size: 20px;
        line-height: 24px;
    }

    .promotion-btn {
        font-size: 20px;
        width: 350px;
        height: 80px;
    }

    .promotion-btn:hover {
        width: 360px;
        height: 90px;
        font-size: 21px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .promotion__formats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .promotion__line {
        width: 80%;
    }

    .promotion__item {
        width: 24vw;
        height: 17.3vh;
        margin: 2.3vh 3.2vw;
        padding: 3vh 8vw;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .promotion__second-item p {
        text-align: center;
    }

    .promotion__second-item img {
        max-width: 100%;
        padding-top: 3vh;
    }

    .promotion__joom-case__items,
    .promotion__loto-case__items,
    .promotion__vpn-case__items,
    .promotion__ultima-case__items {
        width: 100%;
        height: 240px;
        align-items: center;
        justify-content: center;
    }

    .promotion__case-item p {
        font-size: 16px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .promotion__line {
        width: 80%;
    }

    .promotion__mobile-line {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .promotion__line {
        display: none;
    }

    .promotion__mobile-line {
        max-width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .promotion {
        width: 85%;
    }

    .promotion__title-wrapper {
        width: 90%;
    }

    .promotion__main-title {
        font-size: 30px;
        line-height: 37px;
    }

    .promotion__text {
        font-size: 13px;
        line-height: 15px;
    }

    .promotion__formats-title,
    .promotion__cases-title,
    .benefits__title {
    @include hUpper-fold-mobile;
    }

    .promotion__formats-title {
        width: 90%;
    }

    .promotion__formats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .promotion__item {
        width: 24vw;
        height: 17.3vh;
        margin: 2.3vh 3.2vw;
        padding: 3vh 8vw;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .promotion__item img {
        max-width: 100%;
    }

    .promotion__item p {
        font-size: 13px;
        line-height: 15px;
        padding-top: 2vh;
    }

    .promotion__first-item img {
        max-width: 80%;
    }

    .promotion__second-item p {
        text-align: center;
    }

    .promotion__second-item img {
        max-width: 100%;
        padding-top: 3vh;
    }

    .promotion__third-item {
        padding: 3vh 4vw;
    }

    .promotion__third-item img {
        max-width: 100%;
        margin-bottom: 0.2vh;
    }

    .promotion__eighth-item img {
        margin-left: 2vw;
        width: 100%;
    }

    .promotion__joom-case__items,
    .promotion__loto-case__items,
    .promotion__vpn-case__items,
    .promotion__ultima-case__items {
        @include boxShadow;
        height: 52vh;
        width: 57vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(235, 235, 235, 1);
    }

    .promotion__case-item {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 4vh 0.4vw;
    }

    .promotion__case-item:not(.promotion__case-item_third, .promotion__case-item_third_exeption) {
        border-bottom: 1px solid rgba(235, 235, 235, 1);
    }

    .promotion__case-item_blue {
        width: 100%;
    }

    .promotion__logo p {
        font-size: 13px;
        line-height: 16px;
    }

    .promotion__case-item h5 {
        font-size: 13px;
        line-height: 15px;
    }

    .promotion__case-item p {
        font-size: 16px;
        line-height: 19px;
    }

    .benefits__item img {
        max-width: 10%;
        margin-right: 2vw;
    }

    .benefits__item p {
        font-size: 13px;
        line-height: 15.3px;
    }

    .promotion-btn {
        font-size: 16px;
        width: 256px;
        height: 60px;
        padding: 2.6vh auto;
    }

    .promotion-btn:hover {
        font-size: 18px;
        width: 265px;
        height: 70px;
    }
}

@media screen and (max-width: 360px) {
    .promotion-btn {
        font-size: 13px;
        width: 160px;
        height: 40px;
        padding: 2vh auto;
    }
}

.development {
    @include fontFam;
    width: 80%;
    @include boxShadow;
    margin: auto;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            @include hBold-blue
        }

        &-text {
            width: 70%;
            @include pSmall-grey
        }
    }

    &-line {
        max-width: 100%;
    }

    &-line-adaptive {
        max-width: 100%;
        display: none;
    }

    &__full {
        @include borderDashed;
        padding-bottom: 60px;

        &-title {
            @include hUpper-fold-desktop;
            padding: 60px;
        }

        &-systems {
            display: flex;
            justify-content: space-around;
            }
        } 
        &__box-ios,
        &__box-android {
                width: 40%;
                display: flex;
                @include boxShadow;
        }
                &__ios-logo,
                &__android-logo,
                &__ios-text,
                &__android-text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 10%;
                    @include pSmall-grey
                }

                &__ios-logo,
                &__android-logo {
                    border-right: 1px solid #EBEBEB;
                    justify-content: space-between;
                }
    

    &__cycle {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include borderDashed;
        padding: 5%;

        &-title {
            @include hUpper-fold-desktop;
        }

        &-text {
            @include pSmall-grey;
            padding-top: 20px;
        }

        &-img {
            padding: 40px;
        }
    }

    &__products {
        padding-bottom: 50px;

        &-title {
            @include hUpper-fold-desktop;
            padding-top: 60px;
        }

        &-apps {
            display: grid;
            grid-template-columns: repeat(auto-fill, 175px);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 3%;
            column-gap: 3%;
            align-items: center;
            padding: 5%;

            .box-init {
                width: 100%;
                height: 174px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 20px;
                @include boxShadow;


                &-system {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }

                &-img {
                    width: 10%;
                    margin: 10%;


                }

                .apps-name {
                    padding-top: 10px;
                }
            }
        }

        &-text {
            @include pSmall-grey;
            font-size: 16px;
            padding-bottom: 20px;
            text-align: center;
        }
        

        &-button {
        @include btnWhiteBorder;
        max-width: 350px;
        width: 100%;
        height: 80px;
        display: block;
        margin: 0 auto;
        @include fontFam;
        font-weight: 900;
        font-size: 20px;
        text-transform: uppercase;
        color: $blue;
        cursor: pointer;
        transition: 0.5s;
        text-align: center;
        padding: 20px;
        }

        &-button:hover {
            transform: scale(1.1);
        }
    }

    .text-bolt {
        @include pMiddle-dark
    }
}

@media (min-width:776px) {
    .development {
        &__header {
            &-title {
                font-size: 40px;
            }
        }

        &-line {
            max-width: 90%;
        }

        &__products {
            &-apps {
                justify-content: center;
            }

            &-text {
                margin-top: 10%;
            }
        }
    }
}

@media (max-width:775px) {
    .development {

        &-line {
            display: none;
        }

        &-line-adaptive {
            max-width: 100%;
            display: initial;
        }

        &__full {
            &-title {
                font-size: 16px;
                padding: 30px;
            }
        }

        &__cycle {
            &-title {
                font-size: 16px;
            }
        }


        &__products {
            &-apps {
                justify-content: center;
                grid-gap: 15px;
                column-gap: 15px;

                &-title {
                    font-size: 16px;
                }
            }

            .box-init {
                font-size: 13px;
            }

            &-button {
                padding-top: 15px;
                max-width: 256px;
                height: 60px;
                font-weight: 16px;
                }
            }
        }
    }

@media (max-width:800px) {
    .development {

        &__header {
            &-title {
                font-size: 18px;
            }
        }
        &__full {
            &-title {
                font-size: 16px;
            }

            &-systems{
                flex-direction: column;
                margin: auto;
                justify-content: space-around;}
            }

            &__box-ios,
            &__box-android {
                flex-direction: column;
                margin: auto;
                justify-content: space-around;
                padding-bottom: 30px;
            }

            &__box-ios,
            &__box-android {
                width: 70%;
                height: 300px;
            }

                &__ios-logo,
                &__android-logo {
                    border-bottom: 1px solid #EBEBEB;
                    border-right: none;
                }
    }
}


.optimization {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.optimization__title {
    @include fontFam;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: $blue;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.optimization__text {
    @include fontFam;
    font-weight: 500;
    font-size: 16px;
    color: #939393;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.optimization__line {
    width: 80%;
    display: block;
    margin: 5vh auto 5vh auto;
}

.optimization__line-small {
    display: none;
}

.store__title {
    @include fontFam;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.store__wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7vh;
    border-bottom: 1px dashed #D2D2D2;
}

.store__box {
    width: 48%;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    text-align: center;
    padding: 4vh 2vw 4vh 2vw;
    @include fontFam;
    font-weight: 500;
    font-size: 16px;
}

.store__loupe {
    margin-bottom: 2vh;
}

.store__pointer {
    margin-bottom: 2vh;
}

.progress__title {
    @include fontFam;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 5vh;
}

.progress__text {
    @include fontFam;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7vh;
}

.progress__button {
    @include btnWhiteBorder;
    max-width: 350px;
    width: 100%;
    height: 80px;
    display: block;
    margin: 0 auto;
    @include fontFam;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    color: $blue;
    cursor: pointer;
    transition: 0.5s;
}

.progress__button:hover {
    transform: scale(1.1);
}

.contact__title {
    @include fontFam;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 5vh;
}

.contact__text {
    @include fontFam;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5vh;
}

.contact__text-first {
    color: #939393;
}

.contact__text-email {
    color: $blue;
    overflow-wrap: break-word;
}

@media screen and (max-width: 767px) {

    .optimization {
        width: 90%;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .optimization__title {
        font-size: 30px;
        width: 90%;
    }

    .optimization__text {
        font-size: 13px;
        width: 90%;
    }

    .optimization__line-small {
        width: 90%;
        display: block;
        margin: 1vh auto 1vh auto;
    }

    .optimization__line {
        display: none;
    }

    .store__title {
        font-size: 16px;
        margin-bottom: 3vh;
    }

    .store__wrapper {
        flex-direction: column;
        width: 90%;
        padding-bottom: 3vh;
    }

    .store__box {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        font-size: 13px;
    }

    .progress__title {
        font-size: 16px;
        width: 90%;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .progress__text {
        font-size: 16px;
        margin-bottom: 3vh;
    }

    .progress__button {
        max-width: 256px;
        height: 60px;
        font-size: 16px;
    }

    .contact__title {
        width: 90%;
        font-size: 16px;
        margin: 3vh auto 3vh auto;
    }

    .contact__text {
        width: 90%;
        font-size: 18px;
        margin: 0 auto 3vh auto;
    }
}